.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  cursor: pointer;
  padding: 0;
}

.arrow__second {
  display: none;
}

.arrow__second.active {
  display: flex;
}

.arrow.active {
  display: none;
}